{% extends 'dashboard/base.html' %}   <!-- ou ton layout habituel -->
{% load static %}

{% block content %}
<div class="form-box">
  <h2>Modifier le marché « {{ marche.nom_marche }} »</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-voir"><i class="fas fa-save"></i> Enregistrer</button>
    <a href="{% url 'dashboard:liste_marche' marche.marche_global_id %}"
       class="btn-voir" style="background:var(--secondary-color)">Annuler</a>
  </form>
</div>

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/modifier_marche.css' %}">
{% endblock %}

{% endblock %}



{% block extra_js %}
    <script src="{% static 'dashboard/js/modifier_marche.js' %}"></script>
{% endblock %}